<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Actix SSH</title>
    <link crossorigin="anonymous" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://github.com/pure-css/pure/blob/master/site/static/layouts/marketing/styles.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>


<div class="content-wrapper">
    <h2 class="content-subhead">Welcome to Actix SSH!</h2>
    <div>
        <form class=" pure-form pure-form-aligned">
            <fieldset>
                <legend>What is Your Order?</legend>
                <div class="pure-control-group">
                    <label for="ssh_uri">SSH_URI</label>
                    <input id="ssh_uri" name="ssh_uri" placeholder="SSH_URI" type="text"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-control-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="Username" type="text"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" placeholder="Password" type="password"/>
                </div>
                <div class="pure-control-group">
                    <label for="command">Command</label>
                    <input class="pure-input-1-2" id="command" name="command" placeholder="Command" type="text"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <!--                        <label for="stacked-state">State</label>-->
                <!--                        <select id="stacked-state">-->
                <!--                            <option>AL</option>-->
                <!--                            <option>CA</option>-->
                <!--                        </select>-->
                <div class="pure-controls">
                    <button class="pure-button pure-button-primary" type="submit">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
