<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Actix SSH</title>
</head>
<body>
<h1>Welcome to Actix SSH!</h1>
<p style="white-space: pre-wrap;">
<h3>What is Your Order?</h3>
<form>
    <label for="ssh_uri">ssh_uri:</label>
    <input type="text" id="ssh_uri" name="ssh_uri"/><br/>
    <br/>
    <label for="username">username:</label>
    <input type="text" id="username" name="username"/><br/>
    <br/>
    <label for="password">password:</label>
    <input type="password" id="password" name="password"/><br/>
    <br/>
    <label for="command">command:</label>
    <input type="text" id="command" name="command"/><br/>

    <p><input type="submit"></p>
</form>
</p>
</body>
</html>
