<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Actix SSH</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://github.com/pure-css/pure/blob/master/site/static/layouts/marketing/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Welcome to Actix SSH!</h2>
        <div class="pure-g is-center">
            <div class="pure-u-1"><p style="white-space: pre-wrap;">
                <form class="pure-form pure-form-stacked is-center">
                    <fieldset>
                        <legend>What is Your Order?</legend>
                        <div class="pure-control-group">
                            <label for="ssh_uri">SSH_URI</label>
                            <input type="text" id="ssh_uri" name="ssh_uri" placeholder="SSH_URI"/>
                            <span class="pure-form-message-inline">This is a required field.</span>
                        </div>
                        <div class="pure-control-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="Username"/>
                            <span class="pure-form-message-inline">This is a required field.</span>
                        </div>
                        <div class="pure-control-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password"/>
                        </div>
                        <div class="pure-control-group">
                            <label for="command">Command</label>
                            <input type="text" id="command" name="command" placeholder="Command"/>
                            <span class="pure-form-message-inline">This is a required field.</span>
                        </div>
                        <label for="stacked-state">State</label>
                        <select id="stacked-state">
                            <option>AL</option>
                            <option>CA</option>
                        </select>
                        <br/>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
